<div class="row">
  <div class="col-xs-12">
    <img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m(01-32)_gr.jpg"
     class="img-responsive" style="max-height: 80px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Matt Jonson</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="#"></a>To staff</li>
       <li><a href="#"></a>Edit info</li>
       <li><a href="#"></a> Delete profile</li>

     </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    tasks in progress
  </div>
</div>