<div>

  <form>
    <div class="col-sm-6 form-group">
      <label for="task">task</label>
      <input type="text" class="form-control" id=" " aria-describedby="emailHelp" placeholder="Assign task">
    </div>
    <div class=" col-sm-6 form-group">
      <label for="Due date">insert due date</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  </form>
  <div class="col-sm-4 d-flex justify-content-start">
    <button class="btn btn-success" type="submit">Add</button>
    <button class="btn btn-info" type="button">Clear</button>
    <button class="btn btn-danger" type="button">Delete</button>
  </div>
</div>
<br>