<br>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary">Add member</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12" style="">
        <a href="#" class="list-group-item clearfix" *ngFor="let member of members">
            <div class="float-right">
                <h4 class="list-group-item-heading"> {{ member.name + ' ' + member.lastName }}</h4>
                <p class="list-group-item-text"> {{member.position}}</p>
            </div>
            <span class="float-left">
                <img src="https://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m(01-32)_gr.jpg"
                    alt="" class="img-responsive" style="max-height: 80px;">
            </span>

        </a>
        <app-staff-item></app-staff-item>
    </div>
</div>